/* CSS for home page (index.html) */

:root {
    --poll-display-width: 340px;
}

main {
    display: grid;
    grid-template-areas:
        "poll"
        "list"
    ;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

@media (min-width: 800px) {
    main {
        grid-template-areas: "poll list";
        grid-template-columns: var(--poll-display-width) 1fr;
        gap: 10px;
    }
}

.panel {
    background-color: #a8db9db9;
    border: 1px dashed rgb(124, 123, 123);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

form {
    display: grid;
    gap: 10px;
    padding: 10px;
}

label {
    display: contents;
}

.action {
    margin-top: 10px;
    padding: 5px;
}

.poll-display {
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-areas:
        "question question"
        "option1  option2"
        "votes1   votes2"
    ;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
}

.question {
    grid-area: question;
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: 10px;
}
.option {
    font-size: 1.1em;
}
.votes {
    font-family: monospace;
    font-size: 2em;
}
.option.one {
    grid-area: option1;
}
.option.two {
    grid-area: option2;
}
.votes.one {
    grid-area: votes1;
}
.votes.two {
    grid-area: votes2;
}

.poll-voter {
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-areas:
        "vote1    vote2"
        "unvote1  unvote2"
        "end-poll end-poll"
    ;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 4px;
}

.vote {
    font-size: 2em;
}
.vote.one {
    grid-area: vote1;
}
.vote.two {
    grid-area: vote2;
}
.unvote.one {
    grid-area: unvote1;
}
.unvote.two {
    grid-area: unvote2;
}
.end-poll {
    grid-area: end-poll;
    justify-self: stretch;
}

.poll-list {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.poll-list div {
    width: var(--poll-display-width)
}

.hidden {
    display: none;
}
