@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

:root {
    --background: #ffffff;
    --header-background: #6cc4a1;
    --footer-background: rgb(255, 255, 255);
}

body {
    background-color: var(--background);
    height: 100%;
    font-family: 'Rubik', san-serif;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    height: 100%;
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

h1 {
    margin: 10px 0 10px 10px;
}

h2 {
    margin: 8px 0 8px 10px;
}

h3 {
    margin: 5px 0 5px 10px;
}
